:root{
    --color-blue: #0065FC;
    --color-lightblue: #DEEBFF;
    --color-grey: #F2F2F2;
    --fontw-700: 700;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('./raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('./raleway/raleway-regular-webfont.woff') format('woff'),
         url('./raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('./raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'ralewayregular', Arial, Helvetica, sans-serif;
    position: relative;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    position: relative;
}
main{
    width: 90%;
    margin: auto;
}
section{
    margin-bottom: 4%;
}
.sectionLayout{
    display: flex;
    justify-content: space-between;
    width:100%;
}
footer{
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
}
ul{
    margin-left:-40px;
}
h1 {
    font-size: 1.5em;
    margin-bottom: -10px;
}
h2{
}
h3{
    margin-top: 3px;
    margin-bottom: 0%;
    font-size: 1em;
}
h4{
    font-weight: 600;
    font-size: 1.3em;
}
figcaption{
    margin-left: 5%;
}

/*Css Nav*/

.nav a:before {
    content:"";
    width: 0;
    height: 2px;
    background-color: var(--color-blue);
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    transition: width .5s;
}

.nav a:hover:before {
    width: 100%;
}

.nav{
    display:flex;
    list-style-type:none;
    justify-content: space-between;
}

.nav .element a{
    color: black;
    border-top: 3px solid transparent;
    margin-left: 60px;
}

.nav .element a:hover,
.nav .element.active a{
    color: var(--color-blue);
}

.nav .element.active a{
    font-weight: var(--fontw-700);
}

.element:active{
    color:black;
}
/*css Recherche*/
.search{
    display: flex;
    margin-top: 40px;
    height: 50px;
}
.searchMobile{
    display: none;
}
.fa-map-marker-alt{
    font-size: 20px;
    border: 1px solid transparent;
    padding: 15px 10px 15px 20px;
    width: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;    
}
input::placeholder,
input[type="text"]{
    color: #000;
    font-weight: bold;
    font-size: 16px;
    opacity: 100%;
    padding-left: 20px;
}

input[type="text"] {
    width: 170px;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.map{
    font-size: 19px;
    border: 1px solid transparent;
    padding: 7px 8px 7px 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    background-color:var(--color-blue);
    color: white;
    width: 140px;
}
/*Css Filtres*/

.filter{
    display: flex;
    align-items: center;
    margin-top: 25px;
    list-style: none;
}
.boxFilter{
    display:flex;
    align-items: center;
    border: 2px solid rgba(66, 66, 66, 0.075);
    border-left-style: none;
    border-radius: 40px;
    margin-left: 20px;
}
.filterWord{
  margin:5px 15px 5px 10px;
}
.fa-money-bill-wave{
    background-color: #DEEBFF;
    border: transparent;
    padding:12px 10px 8px 10px;
    border-radius: 48%;
    width: 20px;
    height: 20px;
    color: #0065FC;
}
.fa-child{
    background-color: #DEEBFF;
    border: transparent;
    padding:12px 5px 8px 14px;
    border-radius: 48%;
    width: 20px;
    height: 20px;
    color:#0065FC;
}
.fa-heart{
    background-color: #DEEBFF;
    border: transparent;
    padding:12px 9px 8px 12px;
    border-radius: 48%;
    width: 20px;
    height: 20px;
    color: #0065FC;
}
.fa-dog{
    background-color: #DEEBFF;
    border: transparent;
    padding:12px 10px 8px 10px;
    border-radius: 48%;
    width: 20px;
    height: 20px;
    color: #0065FC;
}
/*Css icon info*/
.fa-info{
    color: #0065FC;
    font-size: 11px;
    border: 1px solid darkgray;
    padding:5px 8px 5px 8px;
    border-radius: 50%;
    margin-right: 5px;
}
/*Css accomodation*/
.accomodation{
    border:transparent;
    background-color: #F2F2F2;
    width: 62%;
    height: 500px;
    border-radius: 20px;
    padding: 3% 3% 2% 3%;
}
.accomodationLayout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.figure{
    border: transparent;
    background-color: white;
    border-radius: 20px ;
    box-shadow: 0px 2px 10px grey;
    padding: 0.8%; 
    margin-left: 0;
    margin-right: 0%;
}
.night{
    font-weight:200;
    font-size: 0.9em;
    margin-top: 2px;
   margin-bottom: 4px;
}
.star{
    display: flex; 
}
.fa-star{
    color:var(--color-blue);
}
/*Css aside*/
aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: transparent;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 3% 3% 2% 3%;
    height: 500px;
    width: 23%;
}
.asideTitle{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.fa-chart-line{
    font-size: 1.5em;
}
.figure2{
    display: flex;
    border: transparent;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px grey;
    padding: 1.5%;
    min-width: 300px;
    margin: auto;
}
.night2{ 
    font-size: 0.9em;
    margin-top: 2%;
}
.star2{
    display: flex; 
    margin-top: 30px;
}
/*Css pour Section activité*/
.activity{
    display:flex;
    flex-wrap: wrap;
    width: max-content;
}
.figureActivity{
    border: transparent;
    background-color: white;
    border-radius: 20px ;
    box-shadow: 0px 2px 10px grey;
    margin-left: 0%;
    height: max-content;
}
.figureActivity2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.activityTitle{
    padding:2% 0% 2% 4%;
    font-weight: 700;
}
/*Css Footer*/
.footerLayout{
    display: flex;
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
.list{
    list-style-type: none;
    line-height: 25px;
    margin-right:200px;
}
.listFoot{
    font-size: 1em;
    font-weight: 100;
    line-height:25px;
}
/*Css pour IMAGE*/
.boxImg1{
    border:transparent;
    height:100px;
    width:230px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.boxImg2{
    border:transparent;
    height:120px;
    width:120px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    float: left;
}
.boxImg2a{
    border:transparent;
    height:120px;
    width:180px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    float: left;
}
.boxImg3{
    border:transparent;
    height:350px;
    width:290px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.boxImg3a{
    border:transparent;
    height:180px;
    width:290px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.boxImg3aa{
    border:transparent;
    height:100px;
    width:290px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.boxImg3b{
    border:transparent;
    height:135px;
    width:290px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.boxImg3bb{
    border:transparent;
    height:145px;
    width:290px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
figure:active{
    color:#0065FC;
    background-color: #DEEBFF;
    box-shadow: none;
}
.boxFilter:hover{
    color: #0065FC;
    background-color: #F2F2F2;
}
a{
 text-decoration: none;
}

@media screen and (max-width: 900px)
{
    body{
    }
    h1{
        font-size: 1.4em;
    }
    h1 span{ 
        display: block;
    }
    h3{
        margin-bottom: initial;
    }
    h4{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    section{
        margin-bottom: 50px;
    }
    .activity{
        display: block;
        margin: auto;
    }
    header{
        position: relative;
        display: block;
    }
    .element{
        border-bottom: 2px solid #F2F2F2;
        font-weight: 500;
        justify-content: center;
        width: 100%;
    }
    .element.active{
        position: absolute;
        top: 10px;
        right: -20px;
        width: initial;
        margin: 0;
        border-bottom: none;
    }
    .element:hover{
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }
    .filterDesktop{
        break-after: left;
    }
    .filter{
        flex-wrap: wrap;
    }
    .boxFilter{
        margin-top: 10px;
    }
    .fa-info{
        float: left;
    }
    main{
        width: initial;
        margin: initial;
    }
    .sectionLayout{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    aside{
        width: 100%;
        margin-bottom: 30px;
    }
    .accomodation{
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    .accomodationLayout{
        justify-content: center;
    }
    .figure{
        height: 180px;
        padding: 1.5%;
    }
    .figure2{
        max-width: 300px;
    }
    .boxImg1{
        height:100px;
        width:300px;
    }
    .boxImg2a{
        width: 180px;
    }
    .boxImg3a ,.boxImg3aa ,.boxImg3b,
    .boxImg3bb ,.boxImg3 {
        height:140px;
        width:300px;
    }
    .footerLayout{
        flex-direction: column;
        margin-top: 40px;
        width: 90%;
    }
    .list{
        width:100%;
    }
    .search{
        display: none;
    }
    .searchMobile{
        display: flex;
        margin-top: 40px;
    }
    .fa-map-marker-alt{
        font-size: 14px;
        padding: 12px;
        width: 13px;  
    }
    input::placeholder,
    input[type="text"]{
        font-size: 14px;
        padding-left: 10px;
    }
    input[type="text"] {
        border-right:none;
        width:200px;
    }
    .fa-search{
        font-size: 14px;
        color: white;
    }
    .btn-search{
        background-color: #0065FC;
        border: none;
        border-radius: 30%;
        padding:12px;
        margin-left: -12px;
    }
}